@media print {
    @page {
        size: 8.5in 11in;
        margin-top: 0.2in;
        margin-bottom: 0.1in;
        margin-left: 0.1in;
        margin-right: 0.1in;
    }

    .noprint, .noprint * {
        display: none !important;
    }
}

main .noprint {
    border-bottom-width: thick;
    border-bottom-style: double;
    border-bottom-color: #badea1;
    padding-bottom: 25px;
    margin-bottom: 25px;        
}

h1, h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

.bffbl-step {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-style: double;
    border-right-style: none;
    border-bottom-style: none;
    border-top-width: medium;
    border-left-width: medium;
    border-right-width: thin;
    border-top-color: #badea1;
    border-left-color: #badea1;
    border-top-left-radius: 10px;
}

.bffbl-for {
    display: flex;
    flex-direction: column;
}

.bffbl-for-names {
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    height: 20px;
    margin-left: 5px;
    flex-grow: 2;
}

.bffbl-theme-list {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    text-align: center;
    align-content: stretch;
    height: auto;
    max-height: 150px;
    overflow-y: scroll;
}

.bffbl-theme-list-item {
    margin: 5px;
    padding: 0px;
    border: 1px;
    border-style: double;
    border-radius: 5px;
    text-align: center;
    min-width: 175px;
    background-color: transparent;
}

.bffbl-theme-list-item-selected {
    border-color: #f47b62;
    border-radius: 5px;
    border-width: thick;
    background-color: transparent;

}

.bffbl-theme-list-item img {
    margin: 0px;
    padding: 2px;
    width: 175px;
    height: 100px;
}

footer {
    align-self: flex-end;
}

table{
    width: 100%;
}

.bffbl-tbody{
    padding-bottom: 0.25cm;
    margin-bottom: 0.25cm;
    border-bottom: solid;
    border-width: thin;
}

tr {
    page-break-inside: avoid;
}

td {
    vertical-align: top;
    text-align: left;
}

.bffbl-theme {
    text-align: center;
}

.bffbl-theme-image {
    width: 300px;
    text-align: center;
}

.bffbl-for {
    text-align: center;
}

.bffbl-item {
    padding-bottom: 0.25in;
}

.bffbl-checkbox-container{
    text-align: center;
}

.bffbl-checkbox {
    border: 1px solid black;
    padding: 15px;
    margin-right: 0.07in;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.bffbl-footer {
    font-size: 8pt;
    text-align: right;
    margin-right: 10px;
    color: grey;
}

.bffbl-list-container {
    font: 18pt Georgia, "Times New Roman", Times, serif;
    margin: 5px;
    padding: 5px;
}

.bffbl-print-button {
    font-size: 1.0em;
    margin-right: 10px;
    padding: 8px;
    border-radius: 10px;
    width: 100px;
    background-color: #62487c;
    color: white;
}

.bffbl-suggestions {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}

.bffbl-suggestion-text {
    margin: 5px;
    text-align: center;
}

.bffbl-suggestion {
    flex: 1 0 150px;
    margin: 5px;
    padding: 5px;
    border: double;
    border-width: 1px;
    border-radius: 10px;
    max-width: 300px;
    border-color: #f69987;
    background-color: #feecc9;
}

.bffbl-suggestion-selected {
    flex: 1 0 150px;
    margin: 5px;
    padding: 5px;
    border: double;
    border-width: 1px;
    border-radius: 10px;
    max-width: 300px;
    background-color: #49afa3;
    color: white;
}

.bffbl-your-suggestion {
    margin: 5px;
    padding: 5px;
}

.bffbl-your-suggestion-box {
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    height: 20px;
    width: 300px;
}

.bffbl-button-add {
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    background-color: #1d7dc0;
    color: white;
    font-size: 1.0em;
}

