<div class="noprint">
    <h1>Create your own BFF Bucket List in three easy steps!</h1>
    <div class="bffbl-step">
        <h2>Step 1: Select your friends, family and theme for the adventure</h2>
        <div class="bffbl-for">
            <h3>A bucket list for</h3>
            <input class="bffbl-for-names" bind:value='your_names' placeholder="type your names ..." autofocus>
        </div>
        <h3>Your theme</h3>
        <div class='bffbl-theme-list'>
            {{#each bucket_list_themes as theme}}
            <button on:click='set({your_theme: theme})' class='bffbl-theme-list-item{{ your_theme == theme ? "-selected" : ""}}'>
            <img src="img/bucket_list_themes/{{theme}}.jpg">
        </button> {{/each}}
        </div>
    </div>
    <div class="bffbl-step">
        <h2>Step 2: Pick your bucket list items</h2>
        <div class='bffbl-your-suggestion'>
            <input class='bffbl-your-suggestion-box' type='text' ref:your_suggestion_box placeholder='Type in your bucket list idea'
                on:keyup='search_suggestions()' />
            <button on:click='add_custom_suggestion()' class='bffbl-button-add' style="display: {{add_suggestion_button_display}};">Add it</button>
        </div>
        <div class='bffbl-suggestions'>
            {{#each final_suggestions as suggestion }}
            <button on:click="add_suggestion(suggestion)" class='bffbl-suggestion{{your_items.includes(suggestion.item) ? "-selected" : ""}}'>
            <span class='bffbl-suggestion-text'>{{suggestion.item}}</span>
        </button> {{/each}}
        </div>
    </div>
    <div class="bffbl-step">
        <h2>Step 3: Print Your List!</h2>
        <button onclick="window.print()" class="bffbl-print-button">
            Print
       </button>
    </div>
</div>
<table class="bffbl-list-container">
    <thead>
        <tr>
            <td colSpan="2">
                <div class="bffbl-footer">
                    Join Ella &amp; Skyler's adventures in THE BFF BUCKET LIST<br/>at www.TheBFFBucketList.com
                </div>
                <div class="bffbl-theme">
                    <img class="bffbl-theme-image" src="img/print/{{ your_theme }}.png" />
                </div>
                <div class="bffbl-for">
                    {{ your_names }}
                </div>
                <div class="bffbl-tbody"></div>
            </td>
        </tr>
    </thead>
    <tbody>
        {{#each final_your_items as item}}
        <tr class="bffbl-item">
            <td class="bffbl-checkbox-container"><span class="bffbl-checkbox"></span></td>
            <td>{{ item }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
    export default {
        data() {
            return {
                your_names: '',
                your_theme: 'bff_bucket_list',
                your_items: [],
                search_term: ''
            }
        },
        computed: {
            final_your_items: your_items => your_items,
            final_suggestions:
            (bucket_list_suggestions, search_term) =>
                bucket_list_suggestions.filter(i => i.item.toUpperCase().includes(search_term.toUpperCase())),
            add_suggestion_button_display: search_term => (search_term.length > 0) ? 'inline' : 'none'
        },
        methods: {
            search_suggestions() {
                this.set({ search_term: this.refs.your_suggestion_box.value.trim() });
            },
            add_suggestion(suggestion) {
                let items = this.get('your_items');
                let existing_item_index = items.indexOf(suggestion.item);
                if (existing_item_index == -1) {
                    items.push(suggestion.item);
                }
                else {
                    items.splice(existing_item_index, 1);
                }
                this.set({ your_items: items });
            },
            add_custom_suggestion() {
                let suggestion = this.refs.your_suggestion_box.value.trim();
                if (suggestion) {
                    let items = this.get('your_items');
                    let existing_item_index = items.indexOf(suggestion);
                    if (existing_item_index == -1) {
                        items.push(suggestion);
                    }
                    let suggestions = this.get('bucket_list_suggestions')
                    if (suggestions.findIndex(i => suggestion.localeCompare(i.item) == 0) < 0) {
                        suggestions.unshift({ "item": suggestion, "tags": ["your own"] });
                    }
                    this.set({ your_items: items });
                    this.refs.your_suggestion_box.value = '';
                    this.set({ search_term: '' })
                    this.refs.your_suggestion_box.focus();
                }
            }
        },
        onrender() {
    
        }
    }

</script>